
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LMS</h1>
    <p class="lead">Welcome to Online Library Management System </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Here, you can shop your favourite books through online. 
            Get quick, credible information from experienced Reference Librarians by phone, email, or online chat. Whether it's research, homework, business info, or just a nagging question keeping you up at night, let our experts help you find what you looking for.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Information</h2>
        <p>Irving Public Library (IPL) serves a forward-thinking and diverse city, named the first municipality to win the Texas Award for Performance Excellence in 2011. The library’s vision is to be a center of the community, improving the quality of life of Irving residents through community engagement, educational events and advanced technology. The IPL system consists of three full-service libraries located in the north (Valley Ranch), south and west parts of the city, and one store-front branch in east Irving. IPL is also sustained by a vibrant Friends group that supports literacy in the community through many philanthropic projects. Irving regularly works with national organizations and retailers, cultural societies, private businesses and nearby schools to present community events, award-winning author panels and exhibits.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>